In [1]:
import pandas as pd

In [27]:
stations =  pd.read_csv('../data/stations.txt', header=13, index_col='STAID')
stations

,STANAME,CN,LAT,LON,HGHT
STAID,,,,,
2759,BERLIN-TEMPELHOF,DE,+52:28:07,+013:24:14,48
4533,BERLIN-DAHLEM (LFAG),DE,+52:27:28,+013:18:05,55
4586,BERLIN-TREPTOW,DE,+52:27:24,+013:28:18,35