In [8]:
import pandas as pd

In [10]:
df = pd.read_csv('../data/sources.txt', header=19, index_col='STAID')
df

,SOUID,SOUNAME,CN,LAT,LON,HGHT,ELEI,BEGIN,END,PARID,PARNAME
STAID,,,,,,,,,,,
2759,111448,BERLIN-TEMPELHOF,DE,+52:28:07,+013:24:14,48,TG3,19480101,20220731,11,National Climate Data Center (DWD) ...
2759,127488,BERLIN-DAHLEM (LFAG),DE,+52:27:28,+013:18:05,55,TG3,18760101,19621231,11,National Climate Data Center (DWD) ...
2759,128124,BERLIN-TREPTOW,DE,+52:27:24,+013:28:18,35,TG3,19470101,19601231,11,National Climate Data Center (DWD) ...
4533,100133,BERLIN-DAHLEM,DE,+52:27:50,+013:18:06,51,TG3,19500101,20220731,11,National Climate Data Center (DWD) ...
4533,127488,BERLIN-DAHLEM (LFAG),DE,+52:27:28,+013:18:05,55,TG3,18760101,19621231,11,National Climate Data Center (DWD) ...
4586,111448,BERLIN-TEMPELHOF,DE,+52:28:07,+013:24:14,48,TG3,19480101,20220731,11,National Climate Data Center (DWD) ...
4586,127488,BERLIN-DAHLEM (LFAG),DE,+52:27:28,+013:18:05,55,TG3,18760101,19621231,11,National Climate Data Center (DWD) ...
4586,128124,BERLIN-TREPTOW,DE,+52:27:24,+013:28:18,35,TG3,19470101,19601231,11,National Climate Data Center (DWD) ...